* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  /* background-color: pink; */

}

.lists-right {
  display: block;
  align-items: flex-end;
  margin-right: 50px;
  font-family: 'arial unicode ms';
  font-size: 20px;
}

.lists-left {
  display: block;
  list-style: none;
  align-items: flex-end;
}

.icon {
  width: 150px;
}

