* {
  box-sizing: border-box;
}

html,
 {
  margin: 0;
  padding: 0;
}

.top-page-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;
}

.lists-right {
  display: block;
  align-items: flex-end;
  margin-right: 50px;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  font-size: 20px;
  background-color: #f1f8fe;
 
}

.lists-left {
  display: block;
  list-style: none;
  align-items: flex-end;
  background-color: #f1f8fe;
  
  
}

.user-name,
.logout,
.login,
.sign-up,
.nav__btn {
  margin-top: px;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
  background-color: #f1f8fe;
}
