<%= render "shared/header" %>
<div class = "body"> 
<h1>施工中現場一覧</h1>
  
  <div class = "thing0"> 
  <% @users.each do |user| %>
  <div class = "thing1"> 
  <div class = "thing2"> 
   <%= link_to user.user_name + user.position, user_path(user.id) , class: "const-user" %> <br></div> 
    <% @constructions .each do |construction| %>
      <%if user.id == construction.user_id%>
       <div class = "thing3"> <ul>
         <li class = li1><%= link_to construction.name , construction_path(construction.id) , class: "const-name"%></li>
       </ul></div> 
      <%end%>
    <%end%></div> 
  <%end%>
  </div> 
  
  <br>
  <%= link_to "完工現場一覧へ" , constructions_path , class: "const"%>
</div>