* {
  /* margin: 0px;
  padding: 0px; */
  background-color:white;
  /* color:rgb(28, 225, 212); */
   }
 
.account-page .account-page__inner {
  width: 80%;
  margin: 60px auto;
  padding: 60px;

  border: 1px solid pink;
  border-radius: 5px;
}
.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: left;
  width: 50%;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
}
.account-page .account-page__header h2:after {
  content: "";
  display: block;
  width: 0px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef0;
}
.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}



.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}

.select {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}

.account-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}
.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}


.nop {
  display:none;
}

.body{
  padding-left:20px ;
  font-family: 'arial unicode ms';
  font-size: 20px;

}

.calendar-day {
  font-family: 'arial unicode ms';
  background-color: transparent !important;
  }

.calendar-day >a{
  font-family: 'arial unicode ms';
  background-color: transparent !important;
  }

  .actions{
    width: 50%;
    justify-content: space-between;
    display: flex;
  }
  
  .account-page .account-page__header .btn {
    margin-top: 20px;
    color: #fff;
    background-color: #ccc;
    font-size: 14px;
  }
  
  
  
.dltbtn {
  display: inline-block;
  height: 50px;
  min-width: 88px;
  padding: 0 auto;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  
  margin-top: 20px;
  margin-left: 50px;
  color: #fff;
  background-color: #38aef0;
  font-size: 14px;
  text-decoration: none;
  /* vertical-align: middle; */

}
  
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}

.alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}